@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='radio'].hidden {
  display: none;
}

/* .swap-on, .swap-off {
  transition: none;
} */

.display-only-badge {
  pointer-events: none;
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.stat-value {
  font-size: large;
}
td {
  max-width: 100px;
}

html,
body {
  min-height: 100vh;
  overflow: hidden;
}
footer {
  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
  padding: 20px;
}
.image-container {
  position: fixed;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeout {
  animation: fadeOut 0.8s; /*keyframesで命名したものを使う。3秒間で消える*/
  animation-fill-mode: both; /*0%の時と100%の時の状態を保つ*/
}
.fadein {
  animation: fadeIn 0.8s; /*keyframesで命名したものを使う。3秒間で現れる*/
  animation-fill-mode: both; /*0%の時と100%の時の状態を保つ*/
}

@keyframes fadeOut {
  0% {
    opacity: 1; /*初めに存在する*/
  }
  100% {
    opacity: 0; /*最後に消える*/
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0; /*初めに存在しない*/
  }
  100% {
    opacity: 1; /*最後に現れる*/
  }
}

.welcome {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  padding: auto;
}
.main_container {
  opacity: 0;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
.stat {
  padding-left: 0px;
}
.stat-value .stat-desc {
  padding-left: 6px;
}
